node_modules
public
vendor

.bundle
.env
.env.production

test-results.xml
webpack-test-results.xml

src/**/*.ractive.js

*.sublime-workspace
*.swp

.sass-cache/
.idea/
.DS_Store
.tags*
src/nls/phrase/
